<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>WebApp1</display-name>
  <servlet>
    <servlet-name>demo</servlet-name>
    <servlet-class>com.demo.web.DemoServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>demo</servlet-name>
    <url-pattern>/test</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>DemoServlet2</display-name>
    <servlet-name>DemoServlet2</servlet-name>
    <servlet-class>com.demo.web.DemoServlet2</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>DemoServlet2</servlet-name>
    <url-pattern>/test2</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyHttpServlet</display-name>
    <servlet-name>MyHttpServlet</servlet-name>
    <servlet-class>com.demo.web.MyHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyHttpServlet</servlet-name>
    <url-pattern>/form</url-pattern>
  </servlet-mapping>
</web-app>